.ebg-br-wrapper .ebg-br-editmode {
	display: none;
}

.ebg-br-wrapper {
	position: relative;
	display: flex;
	margin: 1em 0 1.5em 0;
	padding: 1em;
	box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
	border-radius: .5em;
	border: 1px solid #eee;
}

.ebg-br-wrapper-dark-mode-on {
	border: 1px solid rgba(94,9,9,1);
}

.ebg-br-wrapper > .ebg-br-background-image {
	background-image: url('images/github.svg');
	background-repeat: no-repeat;
	background-position: calc(100% - 0.5em) 0.5em;
	background-size: 20px 20px;
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.ebg-br-wrapper-dark-mode-on > .ebg-br-background-image {
	-webkit-filter: invert(100%);
	-moz-filter: invert(100%);
	-o-filter: invert(100%);
	-ms-filter: invert(100%);
	filter: invert(100%);
}

.ebg-br-wrapper .ebg-br-avatar {
	display: inline-block;
	margin: 0 1em 0 0;
	min-width: 150px;
}

.ebg-br-wrapper .ebg-br-header-avatar {
	max-width: 150px;
	border-radius: 50%;
}

.ebg-br-wrapper .ebg-br-avatar .ebg-br-header-avatar {
}

.ebg-br-wrapper .ebg-br-main {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.ebg-br-wrapper .ebg-br-title {
	margin: 0;
	padding: 0;
	line-height: 1.2em;
}

.ebg-br-wrapper .ebg-br-title strong {
	display: block;
	font-size: 1.5em;
}

.ebg-br-wrapper .ebg-br-title em {
	display: block;
	font-size: .8em;
}

.ebg-br-wrapper .ebg-br-title a {
}

.ebg-br-wrapper .ebg-br-title a:hover, .ebg-br-title a:focus, ebg-br-title a:active {
}

.ebg-br-wrapper .ebg-br-description {
	margin: .5em 0 0;
	padding: 0;
	font-size: 0.9em;
	line-height: 1.2em;
}

.ebg-br-wrapper .ebg-br-footer {
	margin: 1em 0 0;
	padding: 0;
	line-height: 1.2em;
}

.ebg-br-wrapper .ebg-br-footer .ebg-br-background-image {
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 18px 18px;
	padding-left: 21px;
	margin-right: 0.5em;
	font-size: 0.9em;
}

.ebg-br-wrapper .ebg-br-footer .ebg-br-subscribers .ebg-br-background-image {
	background-image: url('images/subscribe.svg');
}

.ebg-br-wrapper .ebg-br-footer .ebg-br-watchers .ebg-br-background-image {
	background-image: url('images/watch.svg');
}

.ebg-br-wrapper .ebg-br-footer .ebg-br-forks .ebg-br-background-image {
	background-image: url('images/fork.svg');
}

.ebg-br-wrapper-dark-mode-on .ebg-br-footer .ebg-br-background-image {
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: invert(100%);
}

.ebg-br-wrapper .ebg-br-link {
	display: block;
	margin: .5em 0 0;	
}

.ebg-br-wrapper .screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}