.ebg-br-wrapper {
	position: relative;
	display: flex;
	margin: 1em 0 1.5em 0;
	padding: 1em;
	
	-webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);

	background-repeat: no-repeat;
	background-position: calc(100% - 0.5em) 0.5em;
	background-size: 20px 20px;

	border-radius: .5em;
}

.ebg-br-wrapper-dark-mode-on {
	border: 1px solid rgba(94,9,9,1);
	background-image: url('images/github_white.png');	
}
.ebg-br-wrapper-dark-mode-off {
	border: 1px solid #eee;
	background-image: url('images/github.png');
}






.ebg-br-wrapper .ebg-br-avatar {
	display: inline-block;
	margin: 0 1em 0 0;
	min-width: 150px;
}
.ebg-br-wrapper .ebg-br-header-avatar {
	max-width: 150px;
	border-radius: 50%;
}
.ebg-br-wrapper .ebg-br-avatar .ebg-br-header-avatar {
}





.ebg-br-wrapper .ebg-br-main {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.ebg-br-wrapper .ebg-br-title {
	margin: 0;
	padding: 0;
	line-height: 1.2em;
}
.ebg-br-wrapper .ebg-br-title strong {
	display: block;
	font-size: 1.5em;
}
.ebg-br-wrapper .ebg-br-title em {
	display: block;
	font-size: .8em;
}
.ebg-br-wrapper .ebg-br-title a {
}
.ebg-br-wrapper .ebg-br-title a:hover, .ebg-br-title a:focus, ebg-br-title a:active {
}






.ebg-br-wrapper .ebg-br-description {
	margin: .5em 0 0;
	padding: 0;
	font-size: 0.9em;
	line-height: 1.2em;
}





.ebg-br-wrapper .ebg-br-footer {
	margin: 1em 0 0;
	padding: 0;
	line-height: 1.2em;
}
.ebg-br-wrapper .ebg-br-footer span {
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 18px 18px;
	padding-left: 21px;
	margin-right: 0.5em;
	font-size: 0.9em;
}
.ebg-br-wrapper-dark-mode-on .ebg-br-footer span.ebg-br-subscribers {
	background-image: url('images/subscribe_white.svg');
}
.ebg-br-wrapper-dark-mode-on .ebg-br-footer span.ebg-br-watchers {
	background-image: url('images/watch_white.svg');
}
.ebg-br-wrapper-dark-mode-on .ebg-br-footer span.ebg-br-forks {
	background-image: url('images/fork_white.svg');
}
.ebg-br-wrapper-dark-mode-off .ebg-br-footer span.ebg-br-subscribers {
	background-image: url('images/subscribe.svg');
}
.ebg-br-wrapper-dark-mode-off .ebg-br-footer span.ebg-br-watchers {
	background-image: url('images/watch.svg');
}
.ebg-br-wrapper-dark-mode-off .ebg-br-footer span.ebg-br-forks {
	background-image: url('images/fork.svg');
}

.ebg-br-wrapper .ebg-br-link {
	display: block;
	margin: .5em 0 0;	
}
.ebg-br-wrapper .screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}