@import 'repository-block.css';

.ebg-br-wrapper {
	border: 1px solid #eee !important;
}

.ebg-br-wrapper .ebg-br-background-image {
	-webkit-filter: invert(0) !important;
	-moz-filter: invert(0) !important;
	-o-filter: invert(0) !important;
	-ms-filter: invert(0) !important;
	filter: invert(0) !important;
}
