.ebg-br-wrapper .ebg-br-editmode {
	display: initial !important;
}

.ebg-br-wrapper .ebg-br-border {
	border: 1px solid #eee !important;
}

.ebg-br-wrapper .ebg-br-background-color {
	background-color: whitesmoke !important;
	color: black !important;
}

.ebg-br-wrapper .ebg-br-icon,
.ebg-br-wrapper .ebg-br-logo.fab.fa-github {
	color: black !important;
}

.ebg-br-wrapper .ebg-br-col-main .ebg-br-title em {
	padding-top: 0.40em !important;
}

.ebg-br-wrapper .ebg-br-img-color-auto {
	-webkit-filter: invert(0) !important;
	-moz-filter: invert(0) !important;
	-o-filter: invert(0) !important;
	-ms-filter: invert(0) !important;
	filter: invert(0) !important;
}


/*
	CSS > Template Error
*/
.ebg-br-wrapper .ebg-br-template-error .ebg-br-body p {
	margin: 0px !important;
	padding: 0px !important;
}

.ebg-br-wrapper .ebg-br-template-error .ebg-br-body .ebg-br-title {
	padding-bottom: 0.5em !important;

}


/*
	CSS > Template User
*/
.ebg-br-wrapper .ebg-br-template-user .ebg-br-box-ul ul {
	border: 1px solid #eee !important;
	background-color: white !important;
}

.ebg-br-wrapper .ebg-br-template-user .ebg-br-icon.ebg-br-cfg-icon-type-source-file_svg {
	width: 17px !important;
}

/*
	Class button status dark Theme
*/
.ebg-br-wrapper .ebg-br-body {
	padding-bottom: 40px !important;
}

.ebg-br-wrapper .egb-br-dark_theme-status {
	position: absolute;
	display: block;
	right: 0;
	bottom: 0;
	padding-right: 0.5em;
	padding-bottom: 0.5em;
}

.ebg-br-wrapper .egb-br-dark_theme-status .egb-br-dark_theme-status-img {
	display: inline-block;
	margin-right: 0.5em;
	padding-left: calc(64px + 0.5em);
	padding-bottom: 5px;
	background-image: url('../images/on_off.png');
	background-repeat: no-repeat;
	background-size: 65px auto;
	font-size: smaller;
}

.ebg-br-wrapper .ebg-br-cfg-dark-theme-on .egb-br-dark_theme-status .egb-br-dark_theme-status-img {
	background-position: 0px 0px !important;
}

.ebg-br-wrapper .ebg-br-cfg-dark-theme-off .egb-br-dark_theme-status .egb-br-dark_theme-status-img {
	background-position: 0px -35px !important;	
}
