@import 'repository-block.css';

.ebg-br-wrapper .ebg-br-editmode {
	display: initial !important;
}

.ebg-br-wrapper {
	border: 1px solid #eee !important;
}

.ebg-br-wrapper .ebg-br-img-color-auto {
	-webkit-filter: invert(0) !important;
	-moz-filter: invert(0) !important;
	-o-filter: invert(0) !important;
	-ms-filter: invert(0) !important;
	filter: invert(0) !important;
}

.ebg-br-wrapper .ebg-br-title em {
	padding-top: 0.40em !important;
}


/*
	Class Info User
*/

.ebg-br-wrapper .ebg-br-user-info-ls ul,
.ebg-br-wrapper .ebg-br-user-info-count ul
{
	border: 1px solid #eee !important;
	background-color: transparent !important;
}

.ebg-br-wrapper i {
	color: black !important;
}

.ebg-br-wrapper .ebg-br-user-info-count ul > li{
	padding-top: 0 !important;
}

.ebg-br-wrapper .ebg-br-user-info-ls ul > li > i {
	width: 30px !important;
}


/*
	Class button status dark mode
*/

.ebg-br-wrapper .ebg-br-user-info-ls {
	margin-bottom: 40px !important;
}

.ebg-br-wrapper > .egb-br-dark_theam-status {
	position: absolute;
    left: 0;
	top: calc(100% - 25px - 0.5em);
	width: calc(100% - 0.5em);
	display: block;
	text-align: right;
}

.ebg-br-wrapper .egb-br-dark_theam-status .egb-br-dark_theam-status-img {
	display: inline-block;
	margin-right: 0.5em;
	padding-left: calc(64px + 0.5em);
	background-image: url('../images/on_off.png');
	background-repeat: no-repeat;
	background-size: 64px auto;
	font-size: smaller;
}

.ebg-br-wrapper-dark-theme-on .egb-br-dark_theam-status .egb-br-dark_theam-status-img {
	background-position: 0px 0px !important;
}

.ebg-br-wrapper-dark-theme-off .egb-br-dark_theam-status .egb-br-dark_theam-status-img {
	background-position: 0px -37px !important;	
}
